@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --nav-height: 10vh;
    --nav-background: rgb(170, 166, 166, 0.95);
}

p {
    color: black;
    margin-bottom: auto;
}

html {
    width: 100%;
    font-size: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #432;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.imgcar {
    width: 50%;
    height: 50%;
    position: relative;
}

.img_size {
    display: inline-block;
    height: 160px;
    max-width: 100%;
    position: relative;
}

.logo {
    width: 210px;
    margin-top: 14px;
}

.first01 {
    position: relative;
    max-width: auto;
    height: 300px;
    margin: 0;
    background-color: rgba(168, 168, 168, 0.5);
    opacity: 0.5;
}

.main-nav {
    display: flex;
    font-size: 1.00;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 50%;
    margin-left: 50%;
    bottom: 0px;
    list-style: none;
    float: right;
}

.button {
    float: right;
    border: 2px solid white;
    color: white;
}

.main-nav li {
    margin-left: 9%;
    font-size: large;
}

.main-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main-nav a:hover {
    color: rgb(94, 163, 175);
}

.menu {
    cursor: pointer;
    border: none;
    outline: none;
    display: none;
    height: 20%;
    width: 15%;
    margin: 0;
}

.menu .bar {
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 5px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease;
    transform-origin: left;
    margin-left: auto;
}

.menu .bar1 {
    margin-bottom: 5px;
}

.menu .bar3 {
    margin-top: 5px;
}

.menu.toggle2 .bar1 {
    transform-origin: left;
    transform: rotate(45deg);
}

.menu.toggle2 .bar2 {
    opacity: 0;
    visibility: hidden;
}

.menu.toggle2 .bar3 {
    transform-origin: left;
    transform: rotate(-45deg);
}

.page-header {
    display: flex;
    justify-content: space-between;
    background: rgb(81, 116, 148);
    height: 90px;
    width: 100%;
    overflow-x: hidden !important;
}


/*新型車*/

.swiper {
    position: absolute;
    width: 100%;
    height: 40%;
}

.swiper--wrapper {
    /* wrapperのサイズを調整 */
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

.swiper-slide {
    /* スライド */
    display: inline-block;
    color: #d3d3d3;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.8);
    border: #bbbcbe 1px solid;
    padding: 10px;
    margin: 9px;
    position: relative;
    pointer-events: none;
    transform: scale(1, 0.9);
}

.group {
    display: flex;
    justify-content: space-around;
}

.btn-outline-dark {
    text-align: center;
}

.layout {
    display: flex;
    float: left;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 100%;
}

.modelcar {
    position: relative;
    color: #000000;
    width: 100%;
    height: 100%;
    line-height: 80%;
    padding: 4%;
    margin: 1%;
}

.modelcar img {
    position: relative;
    width: 130px;
    height: 75px;
    object-fit: contain;
}

.group02 {
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.model {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #eee;
    max-width: 100%;
}


/*--news--*/

.news-list {
    max-width: 900px;
    list-style: none outside;
    margin: 0% auto;
}

.news {
    max-width: 900px;
    font-size: xx-large;
    border-bottom: 3px solid rgb(0, 100, 131);
    margin: 0% auto;
    display: block;
}

.news-list .item a {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
}

.news-list .item .date {
    margin: 0 auto;
    min-width: 120px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
}

.news-list .item .title {
    margin: 0 auto;
    width: 100%;
}

.news-list .item a:hover .title {
    color: rgb(0, 195, 255);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0% auto;
}


/*footer*/

.foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.8);
}

.foot .menu-left::after {
    position: absolute;
    top: 0;
    left: 100%;
    content: "";
    width: 1px;
    height: 100%;
}

.copy {
    text-align: center;
    background: rgb(100, 198, 237);
}

.me-ka- {
    justify-content: space-around;
    display: block;
    margin-top: 3%;
}

.set {
    padding: 0%;
    margin: 5%;
    display: flex;
    font-size: x-small;
}

.btn {
    margin: 6px;
    margin-top: auto;
}

.container2 {
    box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.8);
    border: #ffffff 1px solid;
    height: auto;
    width: 90%;
    max-width: 90%;
    padding: 1%;
    overflow: hidden;
    margin-right: 15%;
    box-sizing: border-box;
}

.upright {
    clear: both;
    height: 34%;
    width: 53%;
    margin-top: 6%;
}

.btn-info {
    float: right;
    position: relative;
}

.layout01 {
    display: flex;
    justify-content: center;
    margin: 3%;
    max-width: 100%;
}

.word {
    display: block;
}

#area {
    box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.8);
    border: #ffffff 1px solid;
    height: 34%;
    width: 52%;
    margin-right: 5%;
    margin-left: 1%;
    margin-top: 6%;
}

.freeword {
    box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.8);
    border: #ffffff 2px solid;
    height: auto;
    width: 90%;
    max-width: 90%;
    overflow: hidden;
    margin-right: 15%;
    padding-bottom: 9%;
    box-sizing: border-box;
}

.news {
    font-size: xx-large;
    border-bottom: 3px solid rgb(0, 100, 131);
}

.menuleft {
    margin: 0px;
}

.line {
    margin-top: 15px;
    margin-left: 13%;
    width: 4px;
    height: 150px;
    background-color: rgb(14, 152, 216);
}

.setumei {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.sirusi {
    text-align: right;
}

.main {
    margin-right: auto;
    margin-left: 4.1%;
}

.col-6 {
    margin: auto;
    padding-bottom: 0%;
}

.main-visual {
    overflow: hidden;
    position: relative;
}

.img01 {
    width: 100%;
    max-width: 100vw;
    height: 500px;
    max-height: 100vw;
    object-fit: cover;
}

.textcontent {
    position: absolute;
    top: 30%;
    text-align: justify;
    color: #9944cc;
    margin-left: 15%;
}


/*トグルボタン*/

.toggle {
    position: relative;
    width: 78px;
    height: 48px;
    margin: 5%;
    border-radius: 50px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.toggle input[type=checkbox] {
    display: none;
}

.toggle span {
    position: absolute;
    top: 18px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.toggle span:nth-of-type(1) {
    right: 5px;
    color: rgba(0, 0, 0, 0.175);
}

.toggle span:nth-of-type(2) {
    left: 7px;
    color: #fff;
    letter-spacing: 2px;
}

.toggle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: block;
    background: #e9e9eb;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.toggle:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 42px;
    height: 42px;
    display: block;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.toggle.checked:before {
    background: #3579c7;
}

.toggle.checked:after {
    left: 33px;
    box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}

.change {
    display: flex;
}

.under {
    margin-top: 8%;
}

.toggle1 {
    position: relative;
    width: 78px;
    height: 48px;
    margin: 5%;
    border-radius: 50px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.toggle1 input[type=checkbox] {
    display: none;
}

.toggle1 span {
    position: absolute;
    top: 18px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.toggle1 span:nth-of-type(1) {
    right: 5px;
    color: rgba(0, 0, 0, 0.175);
}

.toggle1 span:nth-of-type(2) {
    left: 7px;
    color: #fff;
    letter-spacing: 2px;
}

.toggle1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: block;
    background: #e9e9eb;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.toggle1:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 42px;
    height: 42px;
    display: block;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.toggle1.checked:before {
    background: #3579c7;
}

.toggle1.checked:after {
    left: 33px;
    box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 480px) {
    .img01 {
        height: 250px;
    }
    .textcontent {
        position: absolute;
        top: 8%;
        text-align: justify;
        margin-left: 10%;
        word-break: break-all;
    }
    .swiper {
        position: absolute;
        width: 100%;
        height: 40%;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 100%;
    }
    .model {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    .foot {
        flex-direction: column;
    }
    .line {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 3%;
        margin-right: 7%;
        width: 85%;
        height: 5px;
        border-bottom: rgb(14, 152, 216);
    }
    .button {
        white-space: nowrap;
    }
    .logo {
        width: 210px;
        height: 80px;
        position: absolute;
    }
    .set {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .layout01 {
        flex-direction: column;
    }
    #area {
        width: 100%;
        margin: auto;
    }
    .upright {
        width: 100%;
    }
    .main-nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 70%;
        width: 300px;
        height: 50%;
        background: var(--nav-background);
        margin-top: var(--nav-height);
        transition: 0.5s ease-out;
        z-index: 2;
    }
    .main-nav li {
        height: var(--nav-height);
        line-height: var(--nav-height);
        text-align: left;
        width: 100%;
        display: block;
    }
    .menu {
        display: block;
        margin-left: auto;
        margin-top: 15%;
    }
    .menu.toggle2+.main-nav {
        transform: translateX(-100%);
    }
    .container2 {
        max-width: 100%;
        margin: auto;
    }
    .freeword {
        max-width: 100%;
        margin: auto;
    }
}