@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

p {
    color: black;
    margin-bottom: auto;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    position: relative;
}

.img_size {
    display: inline-block;
    height: 160px;
    max-width: 100%;
    position: relative;
}

.logo {
    width: 210px;
    margin-top: 14px;
}

.first01 {
    position: relative;
    max-width: auto;
    height: 300px;
    margin: 0;
    background-color: rgba(168, 168, 168, 0.5);
    opacity: 0.5;
}

.main-nav {
    display: flex;
    font-size: 1.00;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 40px;
    bottom: 0px;
    list-style: none;
    float: right;
}

.button {
    float: right;
    border: 2px solid white;
    color: white;
}

.main-nav li {
    margin-left: 35px;
}

.main-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main-nav a:hover {
    color: rgb(94, 163, 175);
}

.page-header {
    display: flex;
    justify-content: space-between;
    background: rgb(81, 116, 148);
    height: 90px;
    width: 100%;
    overflow-x: hidden !important;
}


/*新型車*/

.swiper {
    position: absolute;
    width: max-length;
    height: 300px;
}

.swiper--wrapper {
    /* wrapperのサイズを調整 */
    width: 100%;
    height: 100px;
    margin-left: 30px;
}

.swiper-slide {
    /* スライド */
    display: inline-block;
    color: #d3d3d3;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.8);
    border: #bbbcbe 1px solid;
    padding: 10px;
    margin: 9px;
    position: relative;
    transform: scale(1, 0.9);
    pointer-events: none;
}

@media(max-width:800px) {
    .swiper-pagination {
        margin-bottom: 1130px;
    }
}

.swiper-pagination-bullets {
    width: 100px;
    position: fixed;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin: 0 0 0 10px !important;
    background: #fff;
}

.swiper-pagination-bullet:first-child {
    margin: 0 !important;
}

.group {
    display: flex;
    justify-content: space-around;
}

.btn-outline-dark {
    text-align: center;
}

.layout {
    display: flex;
    float: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    grid-gap: 0px;
}

.modelcar {
    position: relative;
    color: #000000;
    width: 100%;
    height: 100%;
    line-height: 30px;
    padding: 5px;
    margin: 8px;
}

.modelcar img {
    position: relative;
    width: 130px;
    height: 75px;
    object-fit: contain;
}

.group02 {
    position: absolute;
    display: flex;
    justify-content: space-around;
}


/*スイッチ*/

.sample1Area {
    position: relative;
    margin: 5px;
    width: 110px;
    height: 30px;
}


/*ラジオボタン*/

.sample1Area input[type="radio"] {
    display: none;
}


/*ラジオボタンのラベル */

.sample1Area label {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 26px;
    font-size: 11pt;
    font-weight: bold;
    border: 2px solid #ccc;
}


/*ONのラジオボタンのラベル*/

.sample1Area #sample1on+label {
    right: 50%;
    border-radius: 6px 0 0 6px;
    background: #eee;
    color: #666;
    border-right: none;
}


/*ONのとき*/

.sample1Area #sample1on:checked+label {
    background-color: #4699ca;
    color: #fff;
}

.sample1Area #sample1off+label {
    left: 50%;
    border-radius: 0 6px 6px 0;
    background: #eee;
    color: #666;
    border-left: none;
}


/* OFFのとき*/

.sample1Area #sample1off:checked+label {
    background: linear-gradient(175deg, #ccc, #999, #ccc);
    color: #fff;
}

input[type="checkbox"] {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding: 0%;
    transform: scale(1.5);
}

.model {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #eee;
    max-width: 100%;
}


/*--news--*/

.news-list {
    max-width: 900px;
    list-style: none outside;
    margin: 0% auto;
}

.news {
    max-width: 900px;
    font-size: xx-large;
    border-bottom: 3px solid rgb(0, 100, 131);
    margin: 0% auto;
    display: block;
}

.news-list .item a {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
}

.news-list .item .date {
    margin: 0 auto;
    min-width: 120px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
}

.news-list .item .title {
    margin: 0 auto;
    width: 100%;
}

.news-list .item a:hover .title {
    color: rgb(0, 195, 255);
}

@media screen and (max-width: 767px) {
    .news-list .item a {
        flex-wrap: wrap;
    }
    .news-list .item .date {
        min-width: 100px;
    }
    .news-list .item .title {
        margin-top: 10px;
    }
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0% auto;
}


/*footer*/

.foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.8);
}

.foot .menu-left::after {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0 1rem;
    content: "";
    width: 1px;
    border: solid 1px;
    height: 100%;
}

.copy {
    text-align: center;
    background: rgb(100, 198, 237);
}

.me-ka- {
    justify-content: space-around;
    display: block;
}

.set {
    margin: 40px;
}

.btn {
    margin: 6px;
    margin-top: auto;
}

.container2 {
    box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.8);
    border: #ffffff 1px solid;
    height: auto;
    max-width: 432px;
    padding: 0%;
    overflow: hidden;
}

.upright {
    clear: both;
    margin-right: auto;
    height: 34%;
}

.btn-info {
    float: right;
    position: relative;
}

.layout01 {
    display: flex;
    justify-content: space-evenly;
    margin: 8%;
    transform: scale(1.2, 1);
}

.word {
    display: block;
}

#area {
    box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.8);
    border: #ffffff 1px solid;
    height: 34%;
}

.freeword {
    box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.8);
    border: #ffffff 1px solid;
    height: auto;
    overflow: hidden;
}

.news {
    font-size: xx-large;
    border-bottom: 3px solid rgb(0, 100, 131);
}

.menuleft {
    margin: 0px;
}

.line {
    margin-top: 15px;
    margin-left: 13%;
    width: 4px;
    height: 150px;
    background-color: rgb(14, 152, 216);
}

.setumei {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.sirusi {
    text-align: right;
}

.main {
    margin-right: auto;
    margin-left: 4.1%;
}

.col-6 {
    margin: auto;
    padding-bottom: 0%;
}

.main-visual {
    overflow: hidden;
    position: relative;
}

.img01 {
    width: 100%;
    max-width: 100vw;
    height: 500px;
    max-height: 100vw;
    object-fit: cover;
}

.textcontent {
    position: absolute;
    top: 30%;
    text-align: justify;
    color: #9944cc;
    margin-left: 15%;
}